<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> 
          <select (change)="peliculasNacionalidad()" class="form-select" 
          name="selectNacionalidad" #selectNacionalidad>
              <option *ngFor="let n of nacionalidades" 
              value="{{n.idNacionalidad}}"
              style="background-image: url(n.bandera);">
                {{n.nombre}}                 
              </option>
          </select>
          <select (change)="peliculasGenero()" class="form-select" 
          name="selectGenero" #selectGenero>
            <option *ngFor="let g of generos" value="{{g.idGenero}}">
                {{g.nombre}}                
            </option>
        </select>
        <form #formBusqueda="ngForm" class="d-flex">
            <input class="form-control me-2" type="text" 
            placeholder="Titulo" aria-label="Search"
            name="cajaBusqueda" #cajaBusqueda>
            <button class="btn btn-outline-success"
            (click)="buscarPeliculas()"
            >Buscar</button>
          </form>
        </ul>    
      </div>
    </div>
</nav>
